@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-fontfacekit/roboto_light_macroman/Roboto-Light-webfont.eot');
    src: url('fonts/roboto-fontfacekit/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/roboto-fontfacekit/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'), url('fonts/roboto-fontfacekit/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'), url('fonts/roboto-fontfacekit/roboto_light_macroman/Roboto-Light-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Segoe UI", robotolight, Serif;
}

.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-height: 75px;
    padding: 0 1em 0 1em;
    background-color: rgb(226, 69, 16);
    color: rgb(250, 240, 230);

}

.control-panel .tile {
    text-decoration: none;
}

.control-panel .tile [class^="icon-"] {
    font-size: 350%;
    color: rgb(250, 240, 230);
    margin-right: 0.2em;
}

.page-header .banner {
    text-align: right;
    flex-grow: 1;
}

.index {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 100%;
}

.index .tile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 300px;
    /* opmaak */
    background-color: #EBB87F;
    color: rgb(65, 74, 76);
    /* outer space */
    font-size: 1.2em;
    margin: 1em 0 0 0;
    text-decoration: none;
}

.index .tile:last-child {
    margin-bottom: 0.5em;
}

.index .tile [class^="icon-"] {
    font-size: 300%;
    color: rgb(250, 240, 230);
    /* linnen */
    margin-right: 0.2em;
}

.index .tile._2x1 {
    width: 600px;
}

.index .tile:nth-child(4) {
    background-image: url("../image/informatieve-tegel-achtergrond.jpg");
    background-size: cover;
    color: rgb(250, 240, 230);
    /* linnen */
}

.page-footer {
    width: 100%;
    min-height: 10%;
    color: rgb(250, 240, 230);
    /* linnen */
    background-color: rgb(65, 74, 76);
    /* outer space */
    padding: 0.5em 0 0 1em;
}

/* accessability */

.screen-reader-text {
    /* Reusable, toolbox kind of class
        voor screen readers, op die manier
        kunnen de readers lezen waarvoor
        de knop staat; de tekst is zelf
        niet zichtbaar op het scherm door negatieve
        waarden toe te kennen aan top en left */
    position: absolute;
    top: -9999px;
    left: -9999px;
    display: inline-block;
    /* Fix for clickability issue in WebKit */
}